grid {
    background-color: rgb(208, 243, 243);
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1 / 1;
}

div {
    flex: 1 1 6.25%; /* 6.25 represents 1/16 of the space for the top row of a 16*16 grid*/
}